
  body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white !important;
}

/* Responsive Navigation */
@media screen and (max-width: 768px) {
    .navbar {
        height: auto;
    }
}

.fa-people-roof {
    font-size: 2rem !important;
    color: #fe434d;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none !important;
    color: #222222 !important;
}

.f-info-links a:hover {
    text-decoration: underline !important;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.4rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Responsive Listing Card */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

/* Responsive Images */
.show-img {
    height: auto;
    max-width: 100%;
}

.original_img img {
    height: auto;
    width: 100%;
    border-radius: 1rem !important;
}

/* Responsive Buttons */
.add-btn,
.edit-btn {
    background-color: #fe434d !important;
    border: none !important;
}

/* Responsive Footer */
.btns {
    display: flex;
    margin-right: 10px !important;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 768px) {
    .show-card {
        padding: 0 15px;
    }
}
